/* Estilo general para contenedores de formularios */
.form-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo general para los títulos de formularios */
.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

/* Estilo general para formularios */
.user-form {
    display: flex;
    flex-direction: column;
}

/* Estilo general para grupos de formularios */
.form-group {
    margin-bottom: 15px;
}

/* Estilo general para etiquetas de formularios */
.form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilo general para entradas de formularios */
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo general para botones de formularios */
.form-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    background-color: #073a8c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #3B5998;
}

/* Estilo general para errores en formularios */
.form-error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Estilo específico para el modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; /* Ancho total de la ventana */
    height: 100vh;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
